/* container  */
.container {
    width: min(100%, 1440px);
    margin: auto;
}

/* header  */
header {
    background-color: #311500;
    padding: 18px 94px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_ul {
    display: flex;
    column-gap: 36px;
}

.header_li {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #DEE2EB;
    transition: all 0.4s;
}

.header_li:hover{
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}

.active {
    color: #C46A2B;
}

.header_button {
    background-color: #C46A2B;
    /* padding: 19px 12px; */
    width: 100px;
    height: 48px;
    border: none;
    border-radius: 32px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;

}

button:active{
    box-shadow: inset -3px -3px 3px rgb(233, 114, 114), inset 3px 3px 3px rgba(0, 0, 0, 0.452);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
}


.burger_icon {
    display: none;
}

/* Section 1  */
.section1 {
    width: 100%;
    height: 640px;
    background-image: url("../images/cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;


}

.frame {
    width: 354px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.frame_h2 {
    font-family: Inter;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.10000000149011612px;
    color: #FFFFFF;
}

.vector{
    width: 42px;
    height: 42px;
}

/* section_2 */
.section2 {
    display: flex;
    flex-direction: column;
    /* row-gap: 56px; */
    /* flex-wrap: wrap; */
    align-items: center;
    padding-block: 94px;
    background-color: #DEE2EB;

}

.section2_header {
    color: #311500;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    margin-bottom: 56px;

}

.card_section {
    display: flex;
    column-gap: 20px;
    width: min(100%, 1252px);
}


.card {
    padding: 8px;
    background-color: #311500;
    width: min(100%, 298px);
    flex: 1 0 298px;
    transition: all 0.5s;
}

.card:hover{ 
    border-radius: 15px;
    box-shadow: 0 0 10px #A52A2A, 0 0 20px #A52A2A;
}

.card_img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: all 0.5s;
}

.card:hover .card_img {
    border-radius: 10px;
}


h5 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    color: #C46A2B;
    margin-block: 16px 14px;
}

.card_article {
    margin-block: 16px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_article_price {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #DEE2EB;
    transition: all 0.4s;
}

.card_article_price:hover{
    
}

.card_button {
    width: 27px;
    height: 27px;
    border-radius: 8px;
    border: 1px solid #DEE2EB;
    background-color: #C46A2B;
}

/* Footer  */
.footer{
    padding: 94px 0;
    background-color: #311500;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 80px;
}


.footer_title {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    text-align: center;
    color: #C46A2B;
    margin-bottom: 16px;
    transition: all 0.4s;
}

.footer_li {
    margin-bottom: 8px;
    text-align: center;
}

.footer_li:hover{
    text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
}

.li_link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
}